@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  -webkit-box-shadow: -1px 6px 5px -3px rgba(148, 148, 148, 0.58);
  -moz-box-shadow: -1px 6px 5px -3px rgba(148, 148, 148, 0.58);
  box-shadow: -1px 6px 5px -3px rgba(148, 148, 148, 0.58);
}

.card {
  background: rgb(215, 170, 2);
  background: linear-gradient(
    70deg,
    rgb(255, 202, 12) 18%,
    rgba(48, 133, 101, 1) 40%,
    rgba(16, 37, 120, 1) 100%
  );
}

.bottomBar {
  background: rgba(16, 37, 120, 1);
  background: linear-gradient(
    30deg,
    rgba(16, 37, 120, 1) 0%,
    rgba(48, 133, 101, 1) 7%,
    rgb(255, 201, 6) 100%
  );
  padding: 0 50px;
  background-image: url("../../public/bottom.png");
  background-position: center;
  background-size: cover;
}

.qrCode {
  border-radius: 20px 0 0 20px;

  background-size: contain;
  rotate: 270deg;
}
