@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  -webkit-box-shadow: -1px 6px 5px -3px rgba(148, 148, 148, 0.58);
  -moz-box-shadow: -1px 6px 5px -3px rgba(148, 148, 148, 0.58);
  box-shadow: -1px 6px 5px -3px rgba(148, 148, 148, 0.58);
}

.card {
  background: rgb(215, 170, 2);
  background: linear-gradient(
    90deg,
    rgba(215, 170, 2, 1) 0%,
    rgba(48, 133, 101, 1) 52%,
    rgba(16, 37, 120, 1) 100%
  );
}

.bottomBar {
  background: rgba(16, 37, 120, 1);
  background: linear-gradient(
    90deg,
    rgba(16, 37, 120, 1) 0%,
    rgba(48, 133, 101, 1) 52%,
    rgba(215, 170, 2, 1) 100%
  );
  padding: 0 50px;
  background-image: url("../../public/bottom.png");
  background-position: center;
  background-size: cover;
}

.qrCode {
  border-radius: 20px 0 0 20px;
  background-image: url("../../public/qr.png");
  background-size: contain;
  rotate: 270deg;
}
